$font-family--body: 'Inconsolata', monospace;
$font-family--heading: 'Inconsolata', monospace;
$font--size: 16px;
$color--primary: #FF6600;
$color--primary-hover: #FF6600;
$color--dark: #323648;
$color--grey: #6D6F7B;
$color--grey-light: #efefef;
$content-width: 800px;