.container {
  max-width: $content-width;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr $content-width 1fr;
  grid-template-rows: auto auto auto;
}
#masthead,
#colophon {
  grid-column: span 3;
}

#main {
  grid-column: 2/3;
  margin-top: 95px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr 100% 1fr;
  }
  .container,
  #main {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media (max-width: 414px) {
  .container,
  #main {
    padding-left: 1em;
    padding-right: 1em;
  }
  #main {
    margin-top: 70px;
    margin-bottom: 20px;
  }
}