.link {
  color: $color--primary;
  border-bottom: 2px dotted #ccc;
  transition: all .2s ease-in-out;
  &:after {
    margin-left: 5px;
  }
  &:hover {
    background-color: $color--primary;
    color: #000000;
  }
}