.post {
  padding: 10px 0;
  .entry-title {
    font-size: 18px;
    font-weight: 700;
    @media (max-width: 768px) {
      font-size: 22px;
      @include line-height(22);
    }
  }
  .entry-title a {
    color: $color--dark;
    transition: color .2s ease-in-out;
    &:hover {
      color: $color--primary-hover;
    }
  }
  .entry-meta {
    color: $color--grey;
  }
  .entry-content {
    line-height: 2em;
    font-size: 16px;
    @include line-height(16);
    @media (max-width: 768px) {
      font-size: 20px;
      @include line-height(20);
    }
    p {
      margin: 1em 0;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 1em 0;
      font-weight: 700;
    }
    h2 {
      font-size: 1.5em;
    }
    a {
      @extend .link;
      word-break: break-all;
    }
    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
    code {
      background-color: rgba($color--dark, .2);
      padding: 3px 5px;
    }
    pre {
      overflow-x: auto;
      padding: 10px;
      background-color: $color--dark;
      code {
        background-color: transparent;
      }
    }
    strong {
      font-weight: 700;
    }
    em {
      font-style: italic;
    }
    ul,
    ol {
      padding-left: 20px;
    }
    ul {
      list-style: none;
      padding-left: 0;
      li {
        position: relative;
        padding-left: 20px;
      }
      li:after {
        content: '-';
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    ol {
      list-style: decimal;
    }
    blockquote {
      background: #efefef;
      padding: 10px 30px;
      font-style: italic;
      border-left: 4px solid $color--primary
    }
  }
}