.post {
  .entry-title {
    font-size: 2.5em;
  }
  .entry-meta {
    font-size: 14px;
  }
  .entry-content {
    line-height: 2em;
    p {
      margin: 1em 0;
      font-size: 18px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 1em 0;
    }
    h2 {
      font-size: 1.5em;
    }
    a {
      @extend .link;
    }
  }
}